/* BODY */

body{
    display: block;
    background-color: rgb(146, 192, 192);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
#inicial{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#porqueMeInscrever{
    display:none;
}
#SobreMim{
    display:none;
    flex-direction: column;
    justify-content: center;
}
#Expectativas{
    display:none;
}
.Selection{
    border: 3px solid rgb(4, 22, 24);
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;;
    color: aliceblue;
    height: 50vh;
    grid-row: 3;
}
#why{
    grid-column: 2;
    background-image: url(./imgs/c88c555f-852f-4436-8d84-3568ad16c80e.jpeg);
    background-size: cover;
    background-position-x: center;
}


#who{
    background-image: url(./imgs/monkey-pb2slow.gif);
    grid-column: 3;
}
#Texto-sobreMim{
    margin: 100px;  
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;;
    color: aliceblue;
}
#fotoPerfil{
    border: 2px white solid;
    width: 50vh;
    border-radius: 50%;
    margin: auto;
}



#forWhat{
    grid-column: 4;
}

