/* BODY */

body{
    display: block;
    background-color: #00C3CD;
    /*rgb(146, 192, 192) */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
header{
    display: none;
    margin: 10px;
    position: absolute;
    float: right;
    font-family: 'Sofia Sans', sans-serif;;
}
header:hover{
    transform: translate(2px, 2px);
    cursor: pointer;
}
#inicial{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#porqueMeInscrever{
    display:none;
    flex-direction: column;
    justify-content: center;
}
#SobreMim{
    display:none;
    flex-direction: column;
    justify-content: center;
}
#Expectativas{
    display:none;
    flex-direction: column;
    justify-content: center;
}
.Selection{
    display:flex;
    flex-direction: column-reverse;
    border: 3px solid #0d1117;
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    color:#0d1117; 
    cursor: pointer;
    height: 50vh;
    width: 35vh;
    grid-row: 3;
    background-size: cover;
    background-position-x: center;
    background-position-y:center;
    transition: all .5s;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.Selection:hover{
    border: 8px solid white;
    border-radius: 10%;
    -webkit-filter: none;	
	filter: none;
}
/*Porque candidatar */
#why{
    grid-column: 2;
    background-image: url(./imgs/c88c555f-852f-4436-8d84-3568ad16c80e.jpeg);
}
#textoDeCima{
    width: 150vh;
    margin: 75px auto 5vh auto;
}
#textoDebaixo{
    width: 150vh;
    margin: 0px auto 20px auto;
}
#python{
    border:2px #092E20 solid; 
    margin: auto;
    border-radius: 3%;
    width: 110vh;
    height: 50vh;
}

/* Sobre*/
#who{
    background-image: url(./imgs/5b570afa-54d4-46d2-a3fb-30823c4653b5.jpeg);
    grid-column: 3;
}

.TextosGuias{
    font-size: 18px;
    font-family: 'Sofia Sans', sans-serif;;
    color: aliceblue;
    margin: 75px 20px 55px 20px;
    text-align: center;
}
#sobre-mim-extras{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#fotoPerfil{
    border: 2px white solid;
    width: 50vh;
    border-radius: 50%;
    margin-right: 50px;
}
#infoPerfil{
    border: 2px white solid;
    border-radius: 10%;
    height: 50vh;
    width: 75vh;
    background-color: #0d1117;
}
ul{
    list-style: none;  
    color: rgb(214, 187, 35);
}
li{
    font-family: 'Sofia Sans', sans-serif;;
    color: aliceblue;
}
li>a{
    color: white;
    text-decoration: none;
}
li>a:hover{
    text-decoration: underline;
}
#Redes{
    margin-top: 7vh;
    display: flex;
    justify-content: center;
}
#Redes > buttom{
    color: #0d1117;
    background-color: white;
    border: 2px #0d1117 solid;
    font-size: 25px;
    border-radius: 100%;
    padding: 4px 6px;
}
.botaoRedes:hover{
    cursor:pointer;
    transform: translate(2px, 2px);
}


#forWhat{
    grid-column: 4;
    background-image: url(./imgs/4993441.png);
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-color: white;
    /*rgb(206, 202, 202); */
}
#forWhat:hover{
    background-color: bisque;
}
#expectativas1{
    margin: 15vh 40vh 5vh 40vh;
}
#expectativas2{
    margin: 0vh 40vh 10vh 40vh;
}
#imagemExpectativa{
    height: 50vh;
}